  body {
  font-family: 'Roboto', sans-serif;
  width: 90%;
  margin: 25px auto;
  line-height: 1.4em;
}

h1 {
  font-size: 30vw;
  text-align: center;
  color: yellow;
  margin-top:0.5em;
  font-family: 'Abril Fatface', cursive;
}

nav {
  border-bottom:5px solid yellow;
  margin: 50px 0;
  margin-bottom:1em;
  text-align: center;
}

nav a {
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
  color:black;
  padding:1em;
  font-weight: 900;
  font-size: 5vw;
}

nav a:hover {
  text-decoration:line-through;
  color:yellow;
}

input {
  width:80%;
  margin-bottom:4em;
}


input[type=submit] {
  width:15%;
  margin-left:1em;
}

.nieuwstitel {
  font-family: 'Abril Fatface', cursive;
  margin-bottom:0.5em;
}

.nieuwstitel {
  color: black;
  text-decoration:none;
  font-weight: 900;
  font-size: 8vw;
  line-height: 1.4em;
  text-decoration:overline;
}

.images {
  max-width:100%;
}

.images:hover{
  border:10px solid yellow;
  opacity:0.5;
}

section {
  margin-bottom:6em;
}

.datum {
  color:grey;
  font-size:3vw;
}

.samenvatting {
  font-weight: 900;
  line-height: 1.5em;
  font-size: 4vw;
  border-bottom: 5px solid yellow;
  color:black;
}










.goback {
  margin-bottom:1em;

}

.goback a {
  text-decoration:none;
  color:black;
}

.goback a:hover {
  text-decoration:line-through;
  color:yellow;
}

.nieuwstiteldetail {
    color: black;
    text-decoration:overline;
    font-weight: 900;
    font-size: 8vw;
    line-height: 1.4em;
    text-decoration:overline;
    font-family: 'Abril Fatface', cursive;
}

.imagesdetail {
  max-width: 100%;
}


.gepostin {
  color: grey;
  margin-top: 3em;
  margin-bottom:5em;
  font-size: 3vw;
}

.gepostin a {
  color: black;
  text-decoration: none;
  font-weight: 900;
  font-size: 3vw;
}

.gepostin a:hover {
  color: yellow;
  text-decoration: line-through;
}

.itemsvoor {
  margin-top:-3em;
  color: black;
  font-weight: 900;
  font-size:4vw;
}

.link a {
  color: black;
  text-decoration: none;
  font-size:2.5vw;
  padding-bottom:3em;
  font-weight:900;
  text-decoration: underline;
}

.link a:hover {
  color: yellow;
  text-decoration: line-through;
}
